.homepage {
    background-image: url("./Images/Home-Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mb-5 {
    margin-bottom: 12rem!important;
}

.pt-5 {
    padding-top: 12rem!important;
}

.card{
    background-color: #dee2e6;
}

.lang {
    background: #EBEBFF;
    height: 30px;
    padding: 2px 12px;
}
